__pycache__/
.Python
build/
pip-log.txt
pip-delete-this-directory.txt
docs/_build/
target/
.ipynb_checkpoints
*.pkl
*.pth
*.pt
*.h5
*.hdf5
checkpoints/
models/
profile_default/
ipython_config.py
.python-version
celerybeat-schedule
*.sage.py
.env
env/
.venv
venv/
.vscode/
.gitattributes